# Random Forest survival

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

from sklearn import set_config
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder

from sksurv.datasets import load_gbsg2
from sksurv.preprocessing import OneHotEncoder
from sksurv.ensemble import RandomSurvivalForest

set_config(display="text")  # displays text representation of estimators

In [9]:
import pandas as pd
df = pd.read_csv('miRNAexpression_clinicle.csv')
df.head()

,hsa-let-7a-1,hsa-let-7a-2,hsa-let-7a-3,hsa-let-7b,hsa-let-7c,hsa-let-7d,hsa-let-7e,hsa-let-7f-1,hsa-let-7f-2,hsa-let-7g,...,hsa-mir-944,hsa-mir-95,hsa-mir-96,hsa-mir-98,hsa-mir-99a,hsa-mir-99b,Diagnosisage,LymphNodeStage,Survival,SurvivalStatus
0,12.5118,13.5062,12.5058,13.1423,9.4597,9.1296,11.3277,4.5361,13.1852,8.7630,...,7.0844,4.4115,3.2474,5.8341,7.7704,14.8284,66.0,2.0,3.353388,0
1,12.8151,13.8253,12.8277,13.0250,8.0617,9.6969,9.6906,4.6816,14.1684,9.4817,...,9.5068,1.5428,5.5523,6.5335,5.1035,14.0989,47.0,2.0,12.788901,1
2,13.9389,14.9395,13.9522,14.2588,8.8684,9.0935,10.8985,5.9200,14.9715,10.4961,...,8.7194,4.2529,4.5285,6.3210,4.7599,14.2215,56.0,0.0,42.344741,0
3,13.7992,14.8060,13.8097,14.8904,11.5533,9.5417,9.7590,4.8165,13.8766,9.4976,...,7.5526,2.5631,5.6962,6.5749,8.7677,13.6794,54.0,2.0,8.153335,0
4,13.6592,14.6622,13.6761,14.4914,9.4091,9.2256,9.4294,6.3407,13.8757,9.8671,...,7.6184,2.6753,4.1333,5.6403,6.3945,13.7741,58.0,0.0,23.835355,0

In [10]:
df=df.fillna(value=0)
df.isnull().sum()
df2=np.array(df)
# find min and max values for each column, ignoring nan, -inf, and inf
mins = [np.nanmin(df2[:, i][df2[:, i] != -np.inf]) for i in range(df2.shape[1])]
maxs = [np.nanmax(df2[:, i][df2[:, i] != np.inf]) for i in range(df2.shape[1])]

#df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [11]:
for i in range(df.shape[1]):
    df2[:, i][df2[:, i] == -np.inf] = mins[i]
    df2[:, i][df2[:, i] == np.inf] = maxs[i]

In [12]:
df2=pd.DataFrame(df2)
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,836,837,838,839,840,841,842,843,844,845
0,12.5118,13.5062,12.5058,13.1423,9.4597,9.1296,11.3277,4.5361,13.1852,8.7630,...,7.0844,4.4115,3.2474,5.8341,7.7704,14.8284,66.0,2.0,3.353388,0.0
1,12.8151,13.8253,12.8277,13.0250,8.0617,9.6969,9.6906,4.6816,14.1684,9.4817,...,9.5068,1.5428,5.5523,6.5335,5.1035,14.0989,47.0,2.0,12.788901,1.0
2,13.9389,14.9395,13.9522,14.2588,8.8684,9.0935,10.8985,5.9200,14.9715,10.4961,...,8.7194,4.2529,4.5285,6.3210,4.7599,14.2215,56.0,0.0,42.344741,0.0
3,13.7992,14.8060,13.8097,14.8904,11.5533,9.5417,9.7590,4.8165,13.8766,9.4976,...,7.5526,2.5631,5.6962,6.5749,8.7677,13.6794,54.0,2.0,8.153335,0.0
4,13.6592,14.6622,13.6761,14.4914,9.4091,9.2256,9.4294,6.3407,13.8757,9.8671,...,7.6184,2.6753,4.1333,5.6403,6.3945,13.7741,58.0,0.0,23.835355,0.0

In [13]:
Y2=df2[df2.columns[845:]].astype(bool)
Y2=pd.DataFrame(Y2)

Y3=df2[df2.columns[844]]
Y3=pd.DataFrame(Y3)

Y3=Y3.drop(Y3[Y3.columns[845:]], axis=1)
#print(Y3)
Y4=pd.concat([Y2,Y3], axis=1)
Y4

       845        844
0    False   3.353388
1     True  12.788901
2    False  42.344741
3    False   8.153335
4    False  23.835355
..     ...        ...
478   True  17.062827
479   True  23.605221
480   True   1.808199
481  False  17.029950
482  False  14.564224

[483 rows x 2 columns]

In [14]:
y = Y4.to_records(index=False)
y

rec.array([(False, 3.35338791e+00), ( True, 1.27889009e+01),
           (False, 4.23447414e+01), (False, 8.15333531e+00),
           (False, 2.38353552e+01), (False, 2.04819673e+01),
           (False, 6.55883223e+01), ( True, 5.30624322e+01),
           ( True, 1.13094651e+01), (False, 2.11723707e+01),
           ( True, 1.48272348e+01), ( True, 3.55064602e+00),
           ( True, 1.26245192e+01), (False, 2.16983923e+00),
           (False, 4.18515961e+01), (False, 1.52217510e+01),
           (False, 2.81092810e+01), (False, 2.04490910e+01),
           (False, 6.47664135e+00), (False, 2.79120229e+01),
           (False, 1.15395996e+01), (False, 6.83828122e+00),
           ( True, 3.15612980e+00), (False, 1.44655949e+01),
           ( True, 7.82457179e+00), ( True, 2.26846829e+00),
           ( True, 8.74510964e+00), ( True, 7.89032449e+00),
           (False, 2.04819673e+01), (False, 1.64052997e+01),
           (False, 6.14787783e+00), (False, 2.79448992e+00),
           (False, 2.24216721e+01), (False, 3.67228852e+01),
           (False, 3.36982608e+01), (False, 5.02021896e+01),
           (False, 4.49748496e+01), (False, 6.62787257e+01),
           (False, 1.40710787e+01), (False, 3.83995792e+01),
           (False, 7.10457968e+01), (False, 1.44655949e+01),
           (False, 2.57093073e+01), ( True, 7.56156097e+00),
           (False, 1.43998422e+01), ( True, 6.96978663e+00),
           ( True, 6.27938324e+00), (False, 1.26902719e+01),
           (False, 5.21418943e+01), ( True, 1.43340895e+01),
           ( True, 4.28050104e+01), ( True, 1.30519118e+01),
           ( True, 4.76707105e+00), ( True, 4.04379130e+00),
           (False, 1.77532301e+01), (False, 3.06736365e+01),
           (False, 4.79994740e+01), ( True, 1.06190617e+01),
           (False, 4.74405760e+01), ( True, 2.80435283e+01),
           ( True, 1.90682842e+01), (False, 3.41256534e+01),
           ( True, 6.73965217e+00), ( True, 9.07387316e+00),
           ( True, 3.32051156e+00), (False, 5.20761416e+01),
           ( True, 5.12871092e+00), (False, 1.04546799e+01),
           ( True, 1.43340895e+01), (False, 3.50461913e+01),
           (False, 3.88927245e+01), ( True, 3.68215143e+00),
           ( True, 1.15067232e+01), ( True, 9.17250222e+00),
           ( True, 8.02182990e+00), (False, 3.50133149e+01),
           ( True, 6.11500148e+00), (False, 2.35723444e+01),
           ( True, 1.13094651e+01), (False, 2.97202222e+01),
           (False, 2.12052471e+01), (False, 7.39717921e+00),
           (False, 3.16928034e+01), (False, 2.23230430e+01),
           ( True, 1.23943847e+01), (False, 1.65696814e+01),
           ( True, 4.40543117e+00), (False, 1.20656212e+01),
           ( True, 2.69586087e+00), (False, 2.34408390e+01),
           (False, 1.98244403e+01), (False, 2.43942532e+01),
           (False, 2.08764835e+01), (False, 1.95285531e+01),
           (False, 4.81967321e+01), (False, 5.23720288e+01),
           ( True, 6.70677582e+00), ( True, 2.92599533e+00),
           (False, 5.45747444e+01), (False, 7.04540224e+01),
           (False, 6.23664398e+01), (False, 4.59940165e+01),
           ( True, 1.04218036e+01), ( True, 5.78623796e+00),
           ( True, 1.64381760e+00), (False, 4.11940691e+01),
           ( True, 6.41088865e+00), ( True, 3.23832068e+01),
           (False, 6.62787257e+01), (False, 4.69474307e+01),
           (False, 5.65802019e+01), ( True, 5.91774337e+00),
           ( True, 4.24104941e+00), ( True, 8.97524411e+00),
           (False, 3.87612191e+01), (False, 3.81365684e+01),
           (False, 6.48650426e+01), (False, 7.56156097e+00),
           (False, 1.67340632e+01), (False, 3.77420521e+01),
           (False, 4.18844725e+01), (False, 4.31008975e+01),
           (False, 7.75553145e+01), (False, 4.44817043e+01),
           (False, 9.43551304e+00), (False, 0.00000000e+00),
           (False, 2.93585824e+01), (False, 3.35996318e+01),
           (False, 2.94900878e+01), ( True, 1.15067232e+01),
           ( True, 6.90403393e+00), (False, 1.69970740e+01),
           (False, 8.42292139e+01), (False, 1.17697340e+01),
           (False, 3.07722655e+01), (False, 3.78735576e+01),
           (False, 2.62682053e+01), (False, 5.84212776e+01),
           (False, 5.00049315e+01), ( True, 1.63724233e+01),
           (False, 3.45201696e+01), (False, 3.69858961e+01),
           ( True, 7.23279745e+00), (False, 1.68984449e+01),
           ( True, 6.01637242e+00), (False, 1.19012394e+01),
           (False, 1.02245455e+01), (False, 1.13423414e+01),
           (False, 1.16382286e+01), (False, 7.69306638e+00),
           (False, 1.24601374e+01), (False, 1.64052997e+01),
           (False, 1.57477726e+01), ( True, 8.12045895e+00),
           (False, 4.71775652e+01), (False, 3.91557353e+01),
           (False, 4.73419469e+01), (False, 4.09310583e+01),
           ( True, 3.58352237e+01), (False, 3.45201696e+00),
           ( True, 3.09037709e+00), (False, 2.49531512e+01),
           (False, 2.92270770e+01), (False, 9.86290561e-01),
           (False, 3.19558142e+01), ( True, 9.17250222e+00),
           (False, 3.40599007e+01), ( True, 1.84436335e+01),
           (False, 2.01860801e+01), ( True, 1.49258638e+01),
           (False, 3.27777230e+01), (False, 3.37968899e+01),
           ( True, 1.09807016e+01), (False, 1.28875300e+01),
           (False, 4.95775389e+01), (False, 3.00161094e+01),
           (False, 4.68488017e+01), (False, 3.26462176e+01),
           (False, 4.42515699e+01), (False, 3.05750074e+01),
           (False, 2.47887694e+01), (False, 5.12871092e+00),
           (False, 5.95061972e+00), (False, 3.54078311e+01),
           (False, 2.99503567e+01), (False, 7.69306638e+00),
           (False, 2.57421837e+01), ( True, 1.71614558e+01),
           (False, 1.29204063e+02), ( True, 6.11171384e+01),
           ( True, 9.33688398e+00), ( True, 1.91997896e+01),
           ( True, 6.93691028e+00), (False, 1.07505671e+02),
           (False, 9.48811520e+01), (False, 7.65032712e+01),
           (False, 9.15277641e+01), (False, 8.01196699e+01),
           ( True, 1.79176119e+01), ( True, 1.33477989e+01),
           (False, 2.30463228e+01), (False, 8.68264457e+01),
           (False, 4.85912483e+01), (False, 6.04924878e+01),
           ( True, 7.06841569e+00), (False, 4.32324029e+01),
           (False, 5.47391261e+01), (False, 2.10737417e+01),
           (False, 6.24321925e+01), ( True, 3.12325344e+00),
           ( True, 9.01140809e+01), ( True, 2.13696288e+00),
           ( True, 9.69852385e+00), ( True, 5.16158727e+00),
           ( True, 2.05148437e+01), ( True, 4.73419469e+00),
           ( True, 2.18956505e+01), ( True, 2.64325870e+01),
           ( True, 1.12437124e+01), (False, 1.40776539e+02),
           ( True, 1.97915639e+01), ( True, 1.20327449e+01),
           ( True, 4.23776178e+01), ( True, 8.48209883e+00),
           ( True, 3.00818621e+01), ( True, 6.08212513e+00),
           ( True, 5.00049315e+01), ( True, 6.58184568e+01),
           ( True, 1.09807016e+01), ( True, 7.13416839e+00),
           ( True, 3.38626426e+00), ( True, 2.83394155e+01),
           ( True, 2.49860275e+00), ( True, 4.14242036e+00),
           ( True, 6.48321662e+01), (False, 1.72666601e+02),
           (False, 1.11154946e+02), ( True, 1.88052734e+01),
           ( True, 1.26573955e+01), ( True, 7.98895355e+00),
           ( True, 9.00812046e+00), ( True, 5.26021633e+00),
           ( True, 1.84107571e+00), ( True, 5.23062761e+01),
           ( True, 1.29204064e+01), ( True, 2.17970214e+01),
           ( True, 7.12101785e+01), ( True, 1.07505671e+01),
           (False, 1.30880757e+02), (False, 7.71607982e+01),
           ( True, 4.73419469e+00), (False, 8.96538120e+01),
           (False, 3.59996055e+01), (False, 3.13640399e+01),
           (False, 2.62024526e+01), ( True, 1.89696551e+01),
           ( True, 1.71285794e+01), ( True, 3.64927508e+00),
           ( True, 4.96432916e+00), ( True, 1.18683631e+01),
           ( True, 4.79665976e+01), ( True, 2.10408653e+00),
           (False, 4.97090443e+01), ( True, 1.84107571e+01),
           ( True, 5.74678634e+01), ( True, 3.55393366e+01),
           ( True, 1.78518592e+01), ( True, 2.10967551e+02),
           ( True, 8.93250485e+01), ( True, 9.66564750e+00),
           ( True, 4.60268929e-01), ( True, 2.28490647e+01),
           ( True, 2.50846566e+01), ( True, 1.62409179e+01),
           ( True, 6.57527040e-02), ( True, 2.40983660e+01),
           ( True, 1.00568761e+02), ( True, 1.48929875e+01),
           ( True, 5.64815728e+01), ( True, 1.07900187e+02),
           ( True, 5.49363843e+01), ( True, 3.51776967e+00),
           ( True, 1.62737943e+01), ( True, 8.44922247e+01),
           ( True, 1.46299767e+01), ( True, 7.16704475e+00),
           ( True, 1.53861328e+02), ( True, 1.66354341e+01),
           ( True, 6.37801230e+00), ( True, 2.21915376e+01),
           ( True, 3.59338528e+01), ( True, 3.04763783e+01),
           (False, 2.79777756e+01), (False, 2.10079890e+01),
           ( True, 1.69378966e+02), (False, 1.80162409e+02),
           ( True, 1.59647566e+02), ( True, 3.49804386e+01),
           ( True, 1.05204327e+00), ( True, 4.59611401e+01),
           ( True, 6.50951770e+00), ( True, 7.62073840e+01),
           ( True, 4.81967321e+01), ( True, 4.68488017e+01),
           ( True, 6.78567906e+01), ( True, 7.56156097e-01),
           (False, 9.20537857e-01), ( True, 7.06841569e+00),
           ( True, 1.52546273e+01), ( True, 5.98349607e+00),
           (False, 3.53420784e+01), ( True, 3.51776967e+00),
           (False, 2.97859749e+01), ( True, 4.17529671e+00),
           (False, 2.80106519e+01), (False, 3.61639872e+00),
           (False, 2.12381234e+01), (False, 1.29204064e+01),
           (False, 4.79994740e+00), (False, 1.31834172e+01),
           ( True, 4.40543117e+00), (False, 3.02462439e+00),
           (False, 1.88381497e+01), (False, 3.43557879e+01),
           (False, 5.11227274e+01), ( True, 6.41088865e+00),
           (False, 2.54134201e+01), (False, 5.29309268e+00),
           (False, 2.30463228e+01), (False, 2.53147911e+00),
           (False, 1.61422888e+01), ( True, 1.14409705e+01),
           (False, 1.86737680e+01), (False, 2.49531512e+01),
           (False, 2.53147911e+01), (False, 1.77203538e+01),
           (False, 1.23615084e+01), (False, 2.87668080e+01),
           (False, 7.62731367e+00), (False, 2.25860538e+01),
           (False, 2.49531512e+01), (False, 1.39395733e+01),
           (False, 1.20984975e+01), (False, 1.27889009e+01),
           (False, 2.33422100e+01), (False, 5.84541539e+01),
           ( True, 3.47831805e+01), ( True, 3.09366473e+01),
           (False, 3.38626426e+01), ( True, 1.46957294e+01),
           ( True, 2.59723181e+00), (False, 4.63227800e+01),
           (False, 4.64542854e+01), (False, 2.04490910e+01),
           (False, 3.75776704e+01), (False, 4.02406549e+01),
           (False, 3.56379656e+01), (False, 3.91228589e+01),
           (False, 4.50406023e+00), (False, 3.71831542e+01),
           (False, 3.27119703e+01), (False, 2.16326396e+01),
           (False, 2.02518329e+01), (False, 3.02462439e+00),
           (False, 3.11339054e+01), (False, 7.00266298e+00),
           (False, 2.49531512e+01), (False, 4.60268929e-01),
           (False, 1.78518592e+01), ( True, 1.18026104e+01),
           (False, 2.02518329e+01), (False, 1.24272611e+01),
           (False, 8.28484071e+00), (False, 1.51559983e+01),
           (False, 1.50573692e+01), (False, 7.72594273e+00),
           (False, 2.11066180e+01), (False, 2.09422363e+01),
           (False, 5.32596903e+00), (False, 2.84709209e+01),
           (False, 2.57421837e+01), (False, 2.19285268e+01),
           (False, 2.74846303e+01), ( True, 2.74846303e+01),
           ( True, 5.62185620e+00), (False, 2.20271559e+01),
           ( True, 1.26573955e+01), (False, 2.28490647e+01),
           (False, 3.61639872e-01), (False, 1.37751915e+01),
           ( True, 4.27392577e+00), (False, 3.64927508e+00),
           (False, 6.90403393e+00), (False, 3.47503041e+01),
           (False, 1.59450307e+01), (False, 3.85310846e+01),
           (False, 1.44984712e+01), (False, 3.77091758e+01),
           (False, 8.18621166e+00), (False, 3.74132886e+01),
           ( True, 6.57527040e-02), (False, 3.35667554e+01),
           ( True, 5.29309268e+00), (False, 5.12871092e+00),
           ( True, 1.38409442e+01), (False, 1.54847618e+01),
           ( True, 1.27889009e+01), (False, 1.81477463e+01),
           (False, 1.92655423e+01), ( True, 3.61639872e+00),
           (False, 1.43669658e+01), (False, 7.95607719e+00),
           (False, 3.00489858e+01), (False, 1.84107571e+00),
           (False, 1.26245192e+01), (False, 6.24650689e+00),
           (False, 5.88486702e+00), ( True, 7.13416839e+00),
           ( True, 8.08758260e+00), (False, 1.11450833e+01),
           (False, 2.99174804e+01), ( True, 9.20537857e+00),
           (False, 5.26350396e+01), (False, 5.12542328e+01),
           ( True, 4.60268929e+00), (False, 3.68215143e+01),
           ( True, 4.70131834e+01), (False, 1.19998685e+01),
           (False, 7.55498570e+01), ( True, 7.95607719e+00),
           ( True, 2.03833383e+00), ( True, 1.10135779e+01),
           ( True, 8.97524411e+00), ( True, 1.60107834e+01),
           (False, 1.31505408e+01), ( True, 1.81806227e+01),
           (False, 2.12052471e+01), (False, 1.65039287e+01),
           ( True, 4.66844199e+00), (False, 7.49580826e+00),
           ( True, 5.78623796e+00), (False, 1.27231482e+01),
           (False, 2.73860012e+01), (False, 2.01532038e+01),
           (False, 1.97258112e+01), (False, 1.28875300e+01),
           ( True, 5.62185620e+00), ( True, 6.73965217e+00),
           ( True, 1.21971266e+01), (False, 1.78189828e+01),
           (False, 1.53203801e+01), (False, 8.31771707e+00),
           ( True, 1.11122070e+01), (False, 1.69641976e+01),
           ( True, 6.87115758e+00), ( True, 7.52868462e+00),
           (False, 7.10129204e+00), (False, 3.24489595e+01),
           (False, 1.37094388e+01), ( True, 1.51231219e+00),
           (False, 1.35450570e+01), (False, 1.32491699e+01),
           (False, 2.03504619e+01), (False, 6.47992899e+01),
           (False, 5.46733734e+01), ( True, 2.82736628e+00),
           (False, 4.95117862e+01), (False, 4.80323503e+01),
           ( True, 4.94460335e+01), (False, 4.46460861e+01),
           (False, 7.44649374e+01), ( True, 7.52868462e+00),
           ( True, 2.42956242e+01), (False, 5.54295295e+01),
           (False, 2.94572114e+01), (False, 1.80491173e+01),
           ( True, 1.12108360e+01), ( True, 1.72600848e+01),
           ( True, 1.70628267e+01), ( True, 2.36052208e+01),
           ( True, 1.80819936e+00), (False, 1.70299504e+01),
           (False, 1.45642240e+01)],
          dtype=[('845', '?'), ('844', '<f8')])

In [15]:
#new_df=df.drop(labels=[ 'Survival',  'SurvivalStatus' ], axis=1)
new_df=df2.drop((df2[df2.columns[844:]]), axis=1)
count = np.isinf(new_df).values.sum()
count
new_df.head()

,0,1,2,3,4,5,6,7,8,9,...,834,835,836,837,838,839,840,841,842,843
0,12.5118,13.5062,12.5058,13.1423,9.4597,9.1296,11.3277,4.5361,13.1852,8.7630,...,2.4290,0.0000,7.0844,4.4115,3.2474,5.8341,7.7704,14.8284,66.0,2.0
1,12.8151,13.8253,12.8277,13.0250,8.0617,9.6969,9.6906,4.6816,14.1684,9.4817,...,4.3008,0.2781,9.5068,1.5428,5.5523,6.5335,5.1035,14.0989,47.0,2.0
2,13.9389,14.9395,13.9522,14.2588,8.8684,9.0935,10.8985,5.9200,14.9715,10.4961,...,4.1204,0.0000,8.7194,4.2529,4.5285,6.3210,4.7599,14.2215,56.0,0.0
3,13.7992,14.8060,13.8097,14.8904,11.5533,9.5417,9.7590,4.8165,13.8766,9.4976,...,3.2618,0.0000,7.5526,2.5631,5.6962,6.5749,8.7677,13.6794,54.0,2.0
4,13.6592,14.6622,13.6761,14.4914,9.4091,9.2256,9.4294,6.3407,13.8757,9.8671,...,4.7225,0.0000,7.6184,2.6753,4.1333,5.6403,6.3945,13.7741,58.0,0.0

In [16]:
X_train, X_test, y_train, y_test = train_test_split(new_df, y, test_size=0.15)

In [17]:
rsf = RandomSurvivalForest(
    n_estimators=100, min_samples_split=10, min_samples_leaf=15, n_jobs=-1
)
rsf.fit(X_train, y_train)

RandomSurvivalForest(min_samples_leaf=15, min_samples_split=10, n_jobs=-1)

# concordance index

In [15]:
rsf.score(X_test,y_test)

0.5708639186900056

In [17]:
X_test_sorted = X_test.sort_values(by=[1])
X_test_sel = pd.concat((X_test_sorted.head(3), X_test_sorted.tail(3)))

X_test_sel

,0,1,2,3,4,5,6,7,8,9,...,834,835,836,837,838,839,840,841,842,843
34,11.2513,12.2117,11.3254,13.6401,9.1031,8.4919,7.6285,2.9907,10.3702,8.1118,...,2.9907,0.0,7.0044,1.7295,4.1055,4.6622,7.7025,13.6500,43.0,0.0
292,11.2864,12.2899,11.2944,13.0552,7.5409,7.4559,7.1930,3.8176,10.9249,8.5168,...,3.5811,0.0,7.2432,2.6968,5.1591,4.6478,5.8798,12.2006,57.0,0.0
335,11.6078,12.5712,11.6422,13.3376,8.0074,8.6197,9.0363,3.5379,11.5501,8.2297,...,3.7211,0.0,7.8194,3.6324,3.8046,5.8483,6.3364,14.0574,59.0,2.0
10,14.0364,15.0486,14.0442,14.3946,10.8365,9.2623,10.7628,5.8940,14.8552,10.5773,...,3.9575,0.0,8.0650,3.5828,4.0727,6.3302,7.9378,13.8835,60.0,0.0
289,14.3314,15.3441,14.3414,14.6255,10.7235,9.1787,12.0917,4.7945,14.8020,9.7933,...,3.8616,0.0,6.1680,1.8393,3.7623,7.3696,7.6841,14.2296,38.0,0.0
147,14.6422,15.6411,14.6398,14.5085,11.2665,9.3130,11.7643,5.2423,16.1545,10.5665,...,3.8708,0.0,7.5645,3.2603,3.0996,6.2133,7.9296,13.1334,62.0,0.0

In [18]:
pd.Series(rsf.predict(X_test_sel))

0    57.681446
1    44.554907
2    60.083784
3    48.932498
4    59.233230
5    37.045513
dtype: float64

# Permutation-based Feature Importance

In [19]:
from sklearn.inspection import permutation_importance

result = permutation_importance(rsf, X_test, y_test, n_repeats=15)

In [20]:
pd.DataFrame(
    {
        k: result[k]
        for k in (
            "importances_mean",
            "importances_std",
        )
    },
    index=X_test.columns,
).sort_values(by="importances_mean", ascending=False)

     importances_mean  importances_std
585          0.007303         0.004089
589          0.005402         0.003590
428          0.005289         0.001334
400          0.005195         0.001982
668          0.004705         0.001952
..                ...              ...
69          -0.004668         0.002452
660         -0.004837         0.001443
842         -0.005327         0.008754
68          -0.005439         0.004968
376         -0.006945         0.003019

[844 rows x 2 columns]

In [21]:
# Gradient Boosted Models

In [23]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

from sklearn.model_selection import train_test_split
from sksurv.datasets import load_breast_cancer
from sksurv.ensemble import ComponentwiseGradientBoostingSurvivalAnalysis
from sksurv.ensemble import GradientBoostingSurvivalAnalysis
from sksurv.preprocessing import OneHotEncoder

In [24]:
est_cph_tree = GradientBoostingSurvivalAnalysis(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0)
est_cph_tree.fit(X_train, y_train)
cindex = est_cph_tree.score(X_test, y_test)
print(round(cindex, 3))

0.622

In [25]:
pd.Series(est_cph_tree.predict(X_test_sel))

0   -0.342643
1   -1.087762
2   -0.268763
3    0.436549
4    3.598268
5    1.092798
dtype: float64

In [ ]:
CoX Regression

In [27]:
from sksurv.linear_model import CoxPHSurvivalAnalysis, CoxnetSurvivalAnalysis

cph = CoxPHSurvivalAnalysis()
cph.fit(X_train, y_train)

C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:449: LinAlgWarning: Ill-conditioned matrix (rcond=1.00899e-23): result may not be accurate.
  delta = solve(
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:449: LinAlgWarning: Ill-conditioned matrix (rcond=3.29883e-23): result may not be accurate.
  delta = solve(
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:449: LinAlgWarning: Ill-conditioned matrix (rcond=1.83082e-23): result may not be accurate.
  delta = solve(
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:449: LinAlgWarning: Ill-conditioned matrix (rcond=4.0798e-24): result may not be accurate.
  delta = solve(
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:449: LinAlgWarning: Ill-conditioned matrix (rcond=8.78649e-24): result may not be accurate.
  delta = solve(
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:449: LinAlgWarning: Ill-conditioned matrix (rcond=1.07261e-23): result may not be accurate.
  delta = solve(
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:449: LinAlgWarning: Ill-conditioned matrix (rcond=7.15261e-24): result may not be accurate.
  delta = solve(
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:449: LinAlgWarning: Ill-conditioned matrix (rcond=9.49969e-24): result may not be accurate.
  delta = solve(
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:173: RuntimeWarning: overflow encountered in exp
  risk_set += np.exp(xw[k])
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:449: LinAlgWarning: Ill-conditioned matrix (rcond=6.65493e-24): result may not be accurate.
  delta = solve(
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:449: LinAlgWarning: Ill-conditioned matrix (rcond=1.42849e-23): result may not be accurate.
  delta = solve(
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:449: LinAlgWarning: Ill-conditioned matrix (rcond=3.48378e-24): result may not be accurate.
  delta = solve(
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:449: LinAlgWarning: Ill-conditioned matrix (rcond=1.0486e-23): result may not be accurate.
  delta = solve(
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:449: LinAlgWarning: Ill-conditioned matrix (rcond=1.68315e-24): result may not be accurate.
  delta = solve(
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:449: LinAlgWarning: Ill-conditioned matrix (rcond=3.50624e-24): result may not be accurate.
  delta = solve(
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:449: LinAlgWarning: Ill-conditioned matrix (rcond=2.06129e-24): result may not be accurate.
  delta = solve(
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:449: LinAlgWarning: Ill-conditioned matrix (rcond=8.01878e-25): result may not be accurate.
  delta = solve(
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:179: RuntimeWarning: divide by zero encountered in log
  loss -= (numerator - n_events * np.log(risk_set)) / n_samples
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:179: RuntimeWarning: invalid value encountered in double_scalars
  loss -= (numerator - n_events * np.log(risk_set)) / n_samples
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:194: RuntimeWarning: overflow encountered in exp
  exp_xw = np.exp(offset + np.dot(x, w))
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:238: RuntimeWarning: invalid value encountered in divide
  z = risk_set_x / risk_set
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:241: RuntimeWarning: invalid value encountered in divide
  a = risk_set_xx / risk_set
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:228: RuntimeWarning: invalid value encountered in multiply
  risk_set_x += exp_xw[k] * xk
C:\Users\Lenovo\anaconda3\envs\Hover-net\lib\site-packages\sksurv\linear_model\coxph.py:229: RuntimeWarning: invalid value encountered in multiply
  risk_set_xx += exp_xw[k] * xx

ValueError: search direction contains NaN or infinite values

In [ ]:
pd.Series(cph.predict(X_test_sel))

# Lungs Cancer

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

from sklearn import set_config
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder

from sksurv.datasets import load_gbsg2
from sksurv.preprocessing import OneHotEncoder
from sksurv.ensemble import RandomSurvivalForest

set_config(display="text")  # displays text representation of estimators

import pandas as pd
df = pd.read_csv('miRNA12.csv')
df.head()

In [7]:
df=df.fillna(value=0)
df.isnull().sum()
df2=np.array(df)
# find min and max values for each column, ignoring nan, -inf, and inf
mins = [np.nanmin(df2[:, i][df2[:, i] != -np.inf]) for i in range(df2.shape[1])]
maxs = [np.nanmax(df2[:, i][df2[:, i] != np.inf]) for i in range(df2.shape[1])]

#df.replace([np.inf, -np.inf], np.nan, inplace=True)

NameError: name 'df' is not defined

In [ ]:
for i in range(df.shape[1]):
    df2[:, i][df2[:, i] == -np.inf] = mins[i]
    df2[:, i][df2[:, i] == np.inf] = maxs[i]

In [ ]:
df2=pd.DataFrame(df2)
df2.head()

In [ ]:
Y2=df2[df2.columns[845:]].astype(bool)
Y2=pd.DataFrame(Y2)

Y3=df2[df2.columns[844]]
Y3=pd.DataFrame(Y3)

Y3=Y3.drop(Y3[Y3.columns[845:]], axis=1)
#print(Y3)
Y4=pd.concat([Y2,Y3], axis=1)
Y4

In [ ]:
y = Y4.to_records(index=False)
y

In [ ]:
#new_df=df.drop(labels=[ 'Survival',  'SurvivalStatus' ], axis=1)
new_df=df2.drop((df2[df2.columns[844:]]), axis=1)
count = np.isinf(new_df).values.sum()
count
new_df.head()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(new_df, y, test_size=0.15)

In [ ]:
rsf = RandomSurvivalForest(
    n_estimators=100, min_samples_split=10, min_samples_leaf=15, n_jobs=-1
)
rsf.fit(X_train, y_train)

In [ ]:
rsf.score(X_test,y_test)